# Dependencies for development
--constraint constraints.txt
isort
black
docformatter
bandit
pip-audit
pylint
pytest
pytest-cov
pytest-env
pip-tools
pre-commit
twine
cookiecutter
cookiecutter-python-vscode-github
