# Dependencies for development
--constraint constraints.txt
pyupgrade
isort
black
docformatter
flake8-bandit
bandit
pip-audit
pylint
mypy
pytest
pytest-cov
pytest-env
pip-tools
pre-commit
twine
cookiecutter
cookiecutter-python-vscode-github
